*{
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}
h2, span {
    font-family: 'Trocchi', serif;
}
h2{
    font-size: 3em;
    font-weight: normal;
    line-height: 48px;
}

header{
    width: 100%vw;
    height: 110px;
    background: rgb(1,95,150);
    background: linear-gradient(180deg, rgba(1,95,150,1) 0%, rgba(53,171,241,1) 48%, rgba(182,225,251,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
header h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 3em;
}
hr{
    width: 1200px;
    margin: 50px auto;
}
#hr-banner{
    width: 800px;
    margin: 130px auto 200px auto;
}

.container {
    background-color: #f0f2f5;
    margin: 0px 10%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4% 3% ;
    position: relative;
}
.block-ask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-ask-title{
    font-size: 1.2em;
    text-align: center;
}
.block-ask-title span{
    display: block;
    margin-top: 25px;
    font-size: 1.3em;
}
ion-icon{
    font-size: 200px;
}
.block-ask-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
}
.block-ask-banner span{
    font-size: 4em;
}
.block-ask button{
    margin-top: 170px;
    padding: 20px 30px;
    width: 250px;
    border-radius: 40px;
    background-color: rgb(0, 162, 255);
    font-size: 2em;
    border: none;
    font-family: 'Trocchi', serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}
.hover:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.explain{
    margin-top: 80px;
    width: 1000px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 40px;
    padding: 25px 25px 25px 15px;
    font-size: 1.7em;
    line-height: 32px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.explain:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 0 2px #000000;
}
.block-cicle{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.block-points{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.block-points-positive,.block-points-negative {
    width: 400px;
    height: 500px;
    border-radius: 15px;
}
.block-points-positive{
    background-color: rgba(64, 168, 23, 0.2);
    border: 2px solid rgba(64, 168, 23, 0.7);
}
.block-points-negative{
    background-color: rgba(219, 64, 64, 0.2) ;
    border: 2px solid rgba(219, 64, 64, 0.7);
}
.block-points-header{
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-points-header span {
    font-size: 28px;
    line-height: 24px;
}

.block-points-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
}
.block-points-content ul li{
    margin: 20px 0px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.form-footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
input[name="name"], input[name="email"]{
    width: 300px;
    border: none;
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    border: 1px solid rgb(0 0 0 / 38%);
    font-size: 20px;
}
input[name="msg"]{
    width: 300px;
    border: none;
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    height: 70px;
    border: 1px solid rgb(0 0 0 / 38%);
    font-size: 20px;
}
.button {
    padding: 11px 15px;
    width: 130px;
    border-radius: 20px;
    background-color: rgb(0, 162, 255);
    font-size: 1.4em;
    border: none;
    font-family: 'Trocchi', serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}